def {{ fn.name }}(
        self,
        {% for arg in fn.args -%}
        {{arg.name}}: {{arg.type_.serialize_type(pkg)}}
        {%- if let Some(default_value) = arg.default_value %} = {{default_value}}{% endif %},
        {%- endfor %}
        baml_options: BamlCallOptions = {},
    ) -> baml_py.BamlSyncStream[{{ fn.stream_return_type.serialize_type(pkg) }}, {{ fn.return_type.serialize_type(pkg) }}]:
        __options__: BamlCallOptions = {**self.__baml_options, **(baml_options or {})}
        __tb__ = __options__.get("tb", None)
        if __tb__ is not None:
        tb = __tb__._tb # type: ignore (we know how to use this private attribute)
        else:
        tb = None
        __cr__ = __options__.get("client_registry", None)
        __collector__ = __options__.get("collector", None)
        __collectors__ = __collector__ if isinstance(__collector__, list) else [__collector__] if __collector__ is not None else []
        __env__ = env_vars_to_dict(__options__.get("env", {}))
        __raw__ = self.__runtime.stream_function_sync(
        "{{fn.name}}",
        {
            {%- for arg in fn.args %}
            "{{arg.name}}": {{arg.name}},
            {%- endfor %}
        },
        None,
        self.__ctx_manager.get(),
        tb,
        __cr__,
        __collectors__,
        __env__,
        )

        return baml_py.BamlSyncStream[{{ fn.stream_return_type.serialize_type(pkg) }}, {{ fn.return_type.serialize_type(pkg) }}](
        __raw__,
        lambda x: cast({{fn.stream_return_type.serialize_type(pkg)}}, x.cast_to(types, types, partial_types, True)),
        lambda x: cast({{fn.return_type.serialize_type(pkg)}}, x.cast_to(types, types, partial_types, False)),
        self.__ctx_manager.get(),
        )