<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="baml-product" value="%BAML_CSHARP_PRODUCT_FEED%" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="baml-product">
      <package pattern="baml-bridge" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Google.*" />
      <package pattern="Microsoft.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
