"""Pytest tests for {{fixture_name}} fixture."""


def test_top_level_package_imports():
    import baml_sdk  # noqa: F401


def test_baml_types_imports():
    import baml_sdk.baml_types  # noqa: F401


def test_baml_sync_imports():
    import baml_sdk.baml_sync  # noqa: F401


def test_baml_async_imports():
    import baml_sdk.baml_async  # noqa: F401
