export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc

# Enable beta playground features in the standalone web app by default.
export NEXT_PUBLIC_FIDDLE_BETA_DEFAULT=true

# speed up building the Ruby client library, which I think defaults to the release build
export RB_SYS_CARGO_PROFILE="dev"

# Use nix if nix-shell is available,
# Otherwise, use mise and brew.
if command -v nix-shell >/dev/null 2>&1; then
    use flake
    export PATH=$(pwd)/tools:$PATH
else
    PATH_add tools/
    PATH_add "$(brew --prefix llvm)/bin"

    # Use mise for tool versioning, e.g. Ruby
    eval "$(mise activate bash)" || echo "Please run 'brew install mise'"
    
    export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc
fi

# we hide subcommands like baml-cli login, baml-cli dump-hir from our users by default
export BAML_INTERNAL=1

git config --local include.path ../.gitconfig
