export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc

# Use nix if nix-shell is available,
# Otherwise, use mise and brew.
if command -v nix-shell >/dev/null 2>&1; then
    use nix
    export PATH=$(pwd)/tools:$PATH
else
    PATH_add tools/
    PATH_add "$(brew --prefix llvm)/bin"

    # Use mise for tool versioning, e.g. Ruby
    eval "$(mise activate bash)" || echo "Please run 'brew install mise'"
    
    export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc
fi
