[bumpversion]
current_version = 0.9.0
commit = False
tag = False
parse = ^(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:\.(?P<pre>dev)(?P<prerelease>\d+))?$
serialize = 
	{major}.{minor}.{patch}.{pre}{prerelease}
	{major}.{minor}.{patch}

[bumpversion:part:pre]
first_value = dev
optional_value = release
values = 
	dev
	release

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:baml_version/__init__.py]

[bumpversion:file:baml_version/__main__.py]
