{#- baml_py must be imported to enable access to baml_py.Image -#}
import baml_py
from enum import Enum
{% if is_pydantic_2 %}
from pydantic import BaseModel, ConfigDict
{% else %}
from pydantic import BaseModel, Extra
from pydantic.generics import GenericModel
{% endif %}
from typing_extensions import TypeAlias, Literal
from typing import Dict, Generic, List, Optional, TypeVar, Union

from . import types
from .types import Checked, Check

###############################################################################
#
#  These types are used for streaming, for when an instance of a type
#  is still being built up and any of its fields is not yet fully available.
#
###############################################################################

T = TypeVar('T')
{%- if is_pydantic_2 %}
class StreamState(BaseModel, Generic[T]):
{%- else %}
class StreamState(GenericModel, Generic[T]):
{%- endif %}
    value: T
    state: Literal["Pending", "Incomplete", "Complete"]

{# Partial classes (used for streaming) -#}
{% for cls in partial_classes %}
class {{cls.name}}(BaseModel):
    {%- if let Some(docstring) = cls.docstring %}
    {{docstring}}
    {%- endif %}
    {%- if is_pydantic_2 %}
    {%- if cls.dynamic %}
    model_config = ConfigDict(extra='allow')
    {%- endif %}
    {%- else %}
    class Config:
        {%- if cls.dynamic %}
        extra = Extra.allow
        {%- endif %}
        arbitrary_types_allowed = True
    {%- endif %}
    {%- if cls.fields.is_empty() && !cls.dynamic %}pass{% endif %}

    {%- for (name, partial_type, m_docstring) in cls.fields %}
    {{name}}: {{partial_type}}
    {%- if let Some(docstring) = m_docstring %}
    {{ docstring }}
    {%- endif %}
    {%- endfor %}
{% endfor %}

{#- Type Aliases -#}
{% for alias in structural_recursive_alias_cycles %}
{{alias.name}}: TypeAlias = {{alias.target}}
{% endfor %}
