import typing
from baml_py.baml_py import FieldType, EnumValueBuilder, EnumBuilder, ClassBuilder
from baml_py.type_builder import TypeBuilder as _TypeBuilder, ClassPropertyBuilder, ClassPropertyViewer, EnumValueViewer
from .globals import DO_NOT_USE_DIRECTLY_UNLESS_YOU_KNOW_WHAT_YOURE_DOING_RUNTIME


class TypeBuilder(_TypeBuilder):
    def __init__(self):
        super().__init__(classes=set(
          [{% for cls in classes %}"{{cls.name}}",{% endfor %}]
        ), enums=set(
          [{% for enum in enums %}"{{enum.name}}",{% endfor %}]
        ), runtime=DO_NOT_USE_DIRECTLY_UNLESS_YOU_KNOW_WHAT_YOURE_DOING_RUNTIME)

{% for cls in classes %}{% if cls.dynamic %}
    {# BUG: this resets the class properties list on each access #}
    @property
    def {{cls.name}}(self) -> "{{cls.name}}Builder":
        return {{cls.name}}Builder(self)
{% else %}
    @property
    def {{cls.name}}(self) -> "{{cls.name}}Ast":
        return {{cls.name}}Ast(self)
{% endif %}{% endfor %}

{% for enum in enums %}{% if enum.dynamic %}

    @property
    def {{enum.name}}(self) -> "{{enum.name}}Builder":
        return {{enum.name}}Builder(self)
{% endif %}{% endfor %}

{% for cls in classes %}
class {{cls.name}}Ast:
    def __init__(self, tb: _TypeBuilder):
        _tb = tb._tb # type: ignore (we know how to use this private attribute)
        self._bldr = _tb.class_("{{cls.name}}")
        self._properties: typing.Set[str] = set([{% for (name, _, _) in cls.fields %} "{{name}}", {% endfor %}])
        self._props = {{cls.name}}Properties(self._bldr, self._properties)

    def type(self) -> FieldType:
        return self._bldr.field()

    @property
    def props(self) -> "{{cls.name}}Properties":
        return self._props

{% if cls.dynamic %}
class {{cls.name}}Builder({{cls.name}}Ast):
    def __init__(self, tb: _TypeBuilder):
        super().__init__(tb)

    def add_property(self, name: str, type: FieldType) -> ClassPropertyBuilder:
        if name in self._properties:
            raise ValueError(f"Property {name} already exists.")
        return ClassPropertyBuilder(self._bldr.property(name).type(type))

    def list_properties(self) -> typing.List[typing.Tuple[str, ClassPropertyBuilder]]:
        return [(name, ClassPropertyBuilder(self._bldr.property(name))) for name in self._properties]
{% else %}
class {{cls.name}}Viewer({{cls.name}}Ast):
    def __init__(self, tb: _TypeBuilder):
        super().__init__(tb)

    
    def list_properties(self) -> typing.List[typing.Tuple[str, ClassPropertyViewer]]:
        return [(name, ClassPropertyViewer(self._bldr.property(name))) for name in self._properties]
{% endif %}


class {{cls.name}}Properties:
    def __init__(self, bldr: ClassBuilder, properties: typing.Set[str]):
        self.__bldr = bldr
        self.__properties = properties

    {% for (name, type, _) in cls.fields %}

    @property
    def {{name}}(self) -> {% if cls.dynamic %}ClassPropertyBuilder{% else %}ClassPropertyViewer{% endif %}:
        return {% if cls.dynamic %}ClassPropertyBuilder(self.__bldr.property("{{name}}")){% else %}ClassPropertyViewer(self.__bldr.property("{{name}}")){% endif %}
    {%- endfor %}

    {% if cls.dynamic %}
    def __getattr__(self, name: str) -> ClassPropertyBuilder:
        if name not in self.__properties:
            raise AttributeError(f"Property {name} not found.")
        return ClassPropertyBuilder(self.__bldr.property(name))
    {% endif %}
{% endfor %}

{% for enum in enums %}
class {{enum.name}}Ast:
    def __init__(self, tb: _TypeBuilder):
        _tb = tb._tb # type: ignore (we know how to use this private attribute)
        self._bldr = _tb.enum("{{enum.name}}")
        self._values: typing.Set[str] = set([{% for (value, _) in enum.values %} "{{value}}", {% endfor %}])
        self._vals = {{enum.name}}Values(self._bldr, self._values)

    def type(self) -> FieldType:
        return self._bldr.field()

    @property
    def values(self) -> "{{enum.name}}Values":
        return self._vals

{% if enum.dynamic %}
class {{enum.name}}Builder({{enum.name}}Ast):
    def __init__(self, tb: _TypeBuilder):
        super().__init__(tb)

    def add_value(self, name: str) -> EnumValueBuilder:
        if name in self._values:
            raise ValueError(f"Value {name} already exists.")
        self._values.add(name)
        return self._bldr.value(name)

    def list_values(self) -> typing.List[typing.Tuple[str, EnumValueBuilder]]:
        return [(name, self._bldr.value(name)) for name in self._values]
{% else %}
class {{enum.name}}Viewer({{enum.name}}Ast):
    def __init__(self, tb: _TypeBuilder):
        super().__init__(tb)

    def list_values(self) -> typing.List[typing.Tuple[str, EnumValueViewer]]:
        return [(name, EnumValueViewer(self._bldr.value(name))) for name in self._values]
{% endif %}

class {{enum.name}}Values:
    def __init__(self, enum_bldr: EnumBuilder, values: typing.Set[str]):
        self.__bldr = enum_bldr
        self.__values = values

    {% for (value, _) in enum.values %}

    @property
    def {{value}}(self) -> {% if enum.dynamic %}EnumValueBuilder{% else %}EnumValueViewer{% endif %}:
        return {% if enum.dynamic %}EnumValueBuilder(self.__bldr.value("{{value}}")){% else %}EnumValueViewer(self.__bldr.value("{{value}}")){% endif %}
    {% endfor %}

    {% if enum.dynamic %}
    def __getattr__(self, name: str) -> EnumValueBuilder:
        if name not in self.__values:
            raise AttributeError(f"Value {name} not found.")
        return self.__bldr.value(name)
    {% endif %}
{% endfor %}

__all__ = ["TypeBuilder"]
