func {{ fn.name }}(ctx context.Context{% for (name, type) in fn.args -%}
        , {{name}} {{type.serialize_type(ns)}}
        {%- endfor %}, opts ...CallOptionFunc) ({{ fn.return_type.serialize_type(ns) }}, error) {

    var callOpts callOption
    for _, opt := range opts {
        opt(&callOpts)
    }

    args := baml.BamlFunctionArguments{
        Kwargs: map[string]any{ {% for (name, _) in fn.args -%}"{{name}}": {{name}},{% endfor %} },
        Env: getEnvVars(callOpts.env),
    }

    if callOpts.clientRegistry != nil {
        args.ClientRegistry = callOpts.clientRegistry
    }

    encoded, err := baml.EncodeRoot(args)
    if err != nil {
        panic(err)
    }

    result, err := bamlRuntime.CallFunction(ctx, "{{ fn.name }}", encoded)
    if err != nil {
        return nil, err
    }

    if result.Error != nil {
        return nil, result.Error
    }

    castResult := func (result any) {{ fn.return_type.serialize_type(ns) }} {
        return {{ fn.return_type.serialize_type(ns) }}
    }

    casted := castResult(*result.Data)

    return casted, nil
}