package baml_client

import (
	"context"
	"os"
	"strings"

	"{{ package_name }}/baml_client/types"
	baml "github.com/boundaryml/baml/engine/language_client_go/pkg"
)

var bamlRuntime *baml.BamlRuntime

func getEnvVars(overrides map[string]string) map[string]string {
	var env = map[string]string{}
	for _, env_var := range os.Environ() {
		key, value, _ := strings.Cut(env_var, "=")
		env[key] = value
	}
	if overrides!=nil{
		// Since go uses empty strings as zero values for string and not a `null` value, we unset env vars that are empty.
		for key, value := range overrides {
			if value != "" {
				env[key] = value
			}else{
				delete(env, key)
			}
		}
	}
	return env
}

func init() {
	baml.SetTypeMap(typeMap)
	runtime, err := baml.CreateRuntime("./baml_src", getBamlFiles(), getEnvVars(nil))
	if err != nil {
		panic(err)
	}
	bamlRuntime = &runtime
}

type stream struct {}

var Stream = &stream{}

func castOptional[T any](result any, castResult func(any) T) *T {
	if result == nil {
		return nil
	}
	val := castResult(result)
	return &val
}

type callOption struct {
	clientRegistry *baml.ClientRegistry
	env map[string]string
}

type CallOptionFunc func(*callOption)

func WithClientRegistry(clientRegistry *baml.ClientRegistry) CallOptionFunc {
	return func(o *callOption) {
		o.clientRegistry = clientRegistry
	}
}

func WithEnv(env map[string]string) CallOptionFunc {
	return func(o *callOption) {
		o.env = env
	}
}

{% macro return_type_name(fn) -%}
{% if fn.return_type.is_slice || fn.return_type.is_map -%}
{{ fn.return_type.name }}
{%- else -%}
*{{ fn.return_type.name }}
{%- endif %}
{%- endmacro %}

{% for fn in funcs %}

func {{ fn.name }}(ctx context.Context{% for (name, type) in fn.args -%}
        , {{name}} {{type}}
        {%- endfor %}, opts ...CallOptionFunc) ({% call return_type_name(fn) %}, error) {

	var callOpts callOption
	for _, opt := range opts {
		opt(&callOpts)
	}

	args := baml.BamlFunctionArguments{
		Kwargs: map[string]any{ {% for (name, type) in fn.args -%}"{{name}}": {{name}},{% endfor %} },
		Env: getEnvVars(callOpts.env),
	}

	if callOpts.clientRegistry != nil {
		args.ClientRegistry = callOpts.clientRegistry
	}

	encoded, err := baml.EncodeRoot(args)
	if err != nil {
		panic(err)
	}

	result, err := bamlRuntime.CallFunction(ctx, "{{ fn.name }}", encoded)
	if err != nil {
		return nil, err
	}

	if result.Error != nil {
		return nil, result.Error
	}

	castResult := func (result any) {% call return_type_name(fn) %} {
		return {{ crate::go::cast_value("result", fn.return_type) }}
	}

	casted := castResult(*result.Data)

	return casted, nil
}

func (*stream) {{ fn.name }}(ctx context.Context{% for (name, type) in fn.args -%}
		, {{name}} {{type}}
		{%- endfor %}) <-chan {% call return_type_name(fn) %} {
	args := baml.BamlFunctionArguments{
		Kwargs: map[string]any{ {% for (name, type) in fn.args -%}"{{name}}": {{name}},{% endfor %} },
	}
	encoded, err := baml.EncodeRoot(args)
	if err != nil {
		panic(err)
	}
	channel := make(chan {% call return_type_name(fn) %})
	raw, err := bamlRuntime.CallFunctionStream(ctx, "{{ fn.name }}", encoded)
	if err != nil {
		close(channel)
		return channel
	}
	go func() {
		for {
			select {
			case <-ctx.Done():
				close(channel)
				return
			case result, ok := <-raw:
				if !ok {
					close(channel)
					return
				}
				if result.Error != nil {
					close(channel)
					return
				}
				channel <- (*result.Data).({% call return_type_name(fn) %})
			}
		}
	}()
	return channel
}

{% endfor %}