package baml_client

import (
  "fmt"
	"encoding/json"
	"reflect"

  "{{ package_name }}/baml_client/types"
)

type BamlEncoder interface {
  BamlEncode() ([]byte, error)
}

var typeMap = map[string]reflect.Type{
  // classes
  {% for class in classes %}
  "{{ class.name }}": reflect.TypeOf(types.{{ class.name }}{}),
  {% endfor %}
  // enums
  {% for enum in enums %}
  "{{ enum.name }}": reflect.TypeOf(types.{{ enum.name}}("")),
  {% endfor %}
  // unions
  {% for union in unions %}
  "{{ union.name }}": reflect.TypeOf(types.{{ union.name }}{}),
  {% endfor %}
}

func Encode(object any) ([]byte, error) {
  underlyingType := reflect.TypeOf(object)
  if underlyingType.Kind() == reflect.Ptr {
    underlyingType = underlyingType.Elem()
  }

  if underlyingType.Kind() == reflect.Struct {
    if encoder, ok := object.(BamlEncoder); ok {
      return encoder.BamlEncode()
    } else {
      return nil, fmt.Errorf("object is not a BamlEncoder")
    }
  } else if underlyingType.Kind() == reflect.Map {
    entries := []any{}
    for key, value := range object.(map[string]any) {
      entries = append(entries, map[string]any{"key": key, "value": value})
    }
    return json.Marshal(entries)
  } else {
    return json.Marshal(object)
  }
}
