import { Image } from "@boundaryml/baml"

{%- for enum in enums %}
export enum {{enum.name}} {
  {%- for value in enum.values %}
  {{ value }} = "{{ value }}",
  {%- endfor %}
}
{% endfor %}

{%- for cls in classes %}
export interface {{cls.name}} {
  {%- for (name, optional, type) in cls.fields %}
  {{name}}{% if optional %}?{% endif %}: {{type}}
  {%- endfor %}
}
{% endfor %}