.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
.turbo
node_modules/**
.eslintignore
.eslintrc.js
.prettierignore
*.vsix
.turbo