*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Environment
.env
.env.local

# Compiled files
dist/
build/
lib/**/*.js
lib/**/*.d.ts
bin/**/*.js
bin/**/*.d.ts

# IDE
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

