require "baml"
require "sorbet-runtime"

require_relative "types"

module Baml
  class BamlClient
    extend T::Sig

    sig {params(runtime: Baml::BamlRuntime).void}
    def initialize(runtime:)
      @runtime = runtime
    end

    sig {params(path: String).returns(BamlClient)}
    def self.from_directory(path)
      BamlClient.new(runtime: BamlRuntime.from_directory(path))
    end

    {% for fn in funcs -%}
    sig {
      params(
        {% for (name, type) in fn.args -%}
        {{name}}: {{type}},
        {%- endfor %}
      ).returns(Baml::Types::FunctionResult[{{ fn.return_type }}])
    }
    def {{fn.name}}(
        {% for (name, _) in fn.args -%}
        {{name}}:{% if !loop.last %},{% endif %}
        {%- endfor %}
    )
      raw = @runtime.call_function(
        function_name: "{{fn.name}}",
        args: {
          {% for (name, _) in fn.args -%}
          "{{name}}" => {{name}},
          {%- endfor %}
        }
      )
      Baml::Types::FunctionResult[{{ fn.return_type }}].new(val: raw)
    end

    {% endfor %}
  end
end