{% if type_aliases.is_empty() %}
// No type aliases defined
{% else %}
//! Generated type aliases.

use std::collections::HashMap;
use super::*;
{% for alias in type_aliases %}

{% if alias.docstring.is_some() %}
/// {{ alias.docstring.as_ref().unwrap() }}
{% endif %}
pub type {{ alias.name }} = {{ alias.type_str }};
{% endfor %}
{% endif %}
