{% if unions.is_empty() %}
// No unions defined
{% else %}
//! Generated union types.

use baml::{BamlEncode, BamlDecode};
use super::*;
{% for u in unions %}

{% if let Some(docstring) = u.docstring -%}
{{ crate::utils::prefix_lines(docstring, "/// ") }}
{%- endif %}
#[derive(Debug, Clone, BamlEncode, BamlDecode)]
#[baml(union)]
pub enum {{ u.name }} {
{% for variant in u.variants %}
    #[baml(name = "{{ variant.cffi_name }}")]
    {{ variant.name }}({{ variant.type_str }}),
{% endfor %}
}

impl AsRef<{{ u.name }}> for {{ u.name }} {
    fn as_ref(&self) -> &{{ u.name }} {
        self
    }
}

impl Default for {{ u.name }} {
    fn default() -> Self {
        {% if u.variants.is_empty() %}
          panic!("{{ u.name }} has no variants")
        {% else %}
            Self::{{ u.variants[0].name }}(Default::default())
        {% endif %}
    }
}
{% endfor %}
{% endif %}
