basic_calls/baml_sdk/
basic_calls/bin/
basic_calls/obj/
type_roundtrips/baml_sdk/
type_roundtrips/bin/
type_roundtrips/obj/
generics/baml_sdk/
generics/bin/
generics/obj/
failures_and_cancellation/baml_sdk/
failures_and_cancellation/bin/
failures_and_cancellation/obj/
media/baml_sdk/
media/bin/
media/obj/
streaming/baml_sdk/
streaming/bin/
streaming/obj/
host_callables/baml_sdk/
host_callables/bin/
host_callables/obj/
stdlib_resources/baml_sdk/
stdlib_resources/bin/
stdlib_resources/obj/
primitive_edges/baml_sdk/
primitive_edges/bin/
primitive_edges/obj/
dynamic_values/baml_sdk/
dynamic_values/bin/
dynamic_values/obj/
stdlib_structurals/baml_sdk/
stdlib_structurals/bin/
stdlib_structurals/obj/
