{% if let Some(docstring) = docstring -%}
{{ crate::utils::prefix_lines(docstring, "/// ") }}
{%- endif %}
type {{ name }} struct {
    {% for field in fields -%}
    {{ field.render()? }}
    {%- endfor %}
    {% if dynamic -%}
    DynamicProperties map[string]any
    {%- endif %}
}

func (c *{{ name }}) Decode(holder cffi.CFFIValueClass) {
	typeName := holder.Name(nil)
	if string(typeName.Namespace()) != "{{ pkg.name() }}" {
		panic(fmt.Sprintf("expected {{ pkg.name() }}, got %s", string(typeName.Namespace())))
	}
	if string(typeName.Name()) != "{{ name }}" {
		panic(fmt.Sprintf("expected {{ name }}, got %s", string(typeName.Name())))
	}


	{% if fields.len() > 0 %}
	for i := range holder.FieldsLength() {
		var field cffi.CFFIMapEntry
		if holder.Fields(&field, i) {
			key := string(field.Key())
			valueHolder := field.Value(nil)
			switch key {
				{% for field in fields %}
				case "{{ field.name }}":
					c.{{ field.name|exported_name }} = {{ field.type.decode_from_any("valueHolder", pkg) }}
				{% endfor %}
			}
		}
	}
{% endif %}

{% if dynamic %}
	for i := range holder.DynamicFieldsLength() {
		var field cffi.CFFIMapEntry
		if holder.DynamicFields(&field, i) {
			key := string(field.Key())
			valueHolder := field.Value(nil)
			c.DynamicProperties[key] = baml.Decode(valueHolder)
		}
	}
{% endif %}
}

func (c {{ name }}) Encode(builder *flatbuffers.Builder) (cffi.CFFIValueUnion, flatbuffers.UOffsetT, error) {
    fields := map[string]any{}
    {% for field in fields %}
    fields["{{ field.name }}"] = c.{{ field.name|exported_name }}
    {% endfor %}
    return baml.EncodeClass(builder, c.BamlEncodeName, fields, {% if dynamic %}&c.DynamicProperties{% else %}nil{% endif %})
}

func (c {{ name }}) BamlTypeName() string {
    return "{{ name }}"
}

func (u {{ name }}) BamlEncodeName(builder *flatbuffers.Builder) flatbuffers.UOffsetT {
    nameOffset := builder.CreateString("{{ name }}")
    namespaceOffset := builder.CreateString("{{ pkg.get().current() }}")
    cffi.CFFITypeNameStart(builder)
    cffi.CFFITypeNameAddName(builder, nameOffset)
    cffi.CFFITypeNameAddNamespace(builder, namespaceOffset)
    return cffi.CFFITypeNameEnd(builder)
}