{#- module Baml #}
  {#- module Types #}
    {#- https://sorbet.org/docs/tstruct #}
    class {{name}} < T::Struct
      if defined?(T::Struct::ActsAsComparable)
        include T::Struct::ActsAsComparable
      end
      {%- for (name, type) in fields %}
      const :{{name}}, {{type}}
      {%- endfor %}

      {#- The below is part of a proof-of-concept serialization impl, see struct_to_map_via_to_hash #}
      {#-
      def to_hash
        {
          {%- for (name, _) in fields %}
          :{{name}} => self.{{name}},
          {%- endfor %}
        }
      end
      #}
    end
  {#- end #}
{#- end #}