from typing import Any, Dict, Generic, List, Optional, Tuple, TypeVar, Union
import pprint

import baml_py
from pydantic import BaseModel, ValidationError

from . import partial_types, types

OutputType = TypeVar('OutputType')

class BamlOutputWrapper(BaseModel, Generic[OutputType]):
    wrapped: OutputType
    
    @classmethod
    def coerce(cls, parsed: Any) -> OutputType:
      try:
        return cls.model_validate(obj={'wrapped': parsed}).wrapped
      except ValidationError as e:
        {# TODO(sam): can I surface {{ fn.name }} here? #}
        raise TypeError(
          "Internal BAML error while casting output type:\n{}".format(
            pprint.pformat(parsed)
          )
        ) from e

class BamlClient:
    __runtime: baml_py.BamlRuntimeFfi
    __stream_client: "BamlStreamClient"

    @staticmethod
    def from_directory(path: str, ctx: Dict[str, Any] = {}) -> "BamlClient":
      return BamlClient(runtime=baml_py.BamlRuntimeFfi.from_directory(path, ctx))

    def __init__(self, runtime: baml_py.BamlRuntimeFfi):
      self.__runtime = runtime
      self.__stream_client = BamlStreamClient(self.__runtime)

    @property
    def stream(self):
      return self.__stream_client

    {% for fn in funcs %}
    async def {{ fn.name }}(
        self,
        {% for (name, type) in fn.args -%}
        {{name}}: {{type}}{% if !loop.last %},{% endif %}
        {%- endfor %}
    ) -> {{fn.return_type}}:
      raw = await self.__runtime.call_function(
        "{{fn.name}}",
        {
          {% for (name, _) in fn.args -%}
          "{{name}}": {{name}},
          {%- endfor %}
        },
        ctx={}
      )
      return BamlOutputWrapper[{{ fn.return_type }}].coerce(raw.parsed())
    {% endfor %}

class BamlStreamClient:
    __runtime: baml_py.BamlRuntimeFfi

    def __init__(self, runtime: baml_py.BamlRuntimeFfi):
      self.__runtime = runtime

    {% for fn in funcs %}
    def {{ fn.name }}(
        self,
        {% for (name, type) in fn.args -%}
        {{name}}: {{type}}{% if !loop.last %},{% endif %}
        {%- endfor %}
    ) -> baml_py.BamlStream[{{ fn.partial_return_type }}, {{ fn.return_type }}]:
      raw = self.__runtime.stream_function(
        "{{fn.name}}",
        {
          {%- for (name, _) in fn.args %}
          "{{name}}": {{name}},
          {%- endfor %}
        },
        ctx={},
      )
      return baml_py.BamlStream[{{ fn.partial_return_type }}, {{ fn.return_type }}](
        raw,
        BamlOutputWrapper[{{ fn.partial_return_type }}].coerce,
        BamlOutputWrapper[{{ fn.return_type }}].coerce,
      )
    {% endfor %}