# typed: false
require "baml"
require "sorbet-runtime"

require_relative "type-registry"
require_relative "partial-types"
require_relative "types"

module Baml
  class LlmResponseParser
    extend T::Sig

    sig {params(runtime: Baml::Ffi::BamlRuntime, ctx_manager: Baml::Ffi::RuntimeContextManager).void}
    def initialize(runtime:, ctx_manager:)
      @runtime = runtime
      @ctx_manager = ctx_manager
    end

    {% for fn in funcs -%}
    sig {
      params(
        llm_response: String,
        baml_options: T::Hash[Symbol, T.any(Baml::TypeBuilder, Baml::ClientRegistry)]
      ).returns({{fn.return_type}})
    }
    def {{fn.name}}(llm_response:, baml_options: {})
      if (baml_options.keys - [:client_registry, :tb]).any?
        raise ArgumentError.new("Received unknown keys in baml_options (valid keys: :client_registry, :tb): #{baml_options.keys - [:client_registry, :tb]}")
      end

      @runtime.parse_llm_response(
        "{{fn.name}}",
        llm_response,
        Baml::Types,
        Baml::PartialTypes,
        false,
        @ctx_manager,
        baml_options[:tb]&.instance_variable_get(:@registry),
        baml_options[:client_registry],
      )
    end

    {% endfor %}
  end

  class LlmStreamParser
    extend T::Sig

    sig {params(runtime: Baml::Ffi::BamlRuntime, ctx_manager: Baml::Ffi::RuntimeContextManager).void}
    def initialize(runtime:, ctx_manager:)
      @runtime = runtime
      @ctx_manager = ctx_manager
    end

    {% for fn in funcs -%}
    sig {
      params(
        llm_response: String,
        baml_options: T::Hash[Symbol, T.any(Baml::TypeBuilder, Baml::ClientRegistry)]
      ).returns({{fn.partial_return_type}})
    }
    def {{fn.name}}(llm_response:, baml_options: {})
      if (baml_options.keys - [:client_registry, :tb]).any?
        raise ArgumentError.new("Received unknown keys in baml_options (valid keys: :client_registry, :tb): #{baml_options.keys - [:client_registry, :tb]}")
      end

      @runtime.parse_llm_response(
        "{{fn.name}}",
        llm_response,
        Baml::Types,
        Baml::PartialTypes,
        true,
        @ctx_manager,
        baml_options[:tb]&.instance_variable_get(:@registry),
        baml_options[:client_registry],
      )
    end

    {% endfor %}
  end
end
