# typed: false
require "sorbet-runtime"
require "sorbet-struct-comparable"

require_relative "types"

module Baml
  {# Baml::PartialTypes is reserved for generated types. #}
  module PartialTypes
    {#- Forward declarations for types #}
    {%- for cls in partial_classes %}
    class {{cls.name}} < T::Struct; end
    {%- endfor %}

    {#- https://sorbet.org/docs/tstruct #}
    {%- for cls in partial_classes %}
    class {{cls.name}} < T::Struct
      include T::Struct::ActsAsComparable

      {%- for (name, type) in cls.fields %}
      const :{{name}}, {{type}}
      {%- endfor %}

      def initialize(args)
        super(
          {%- for (name, _) in cls.fields %}
          {{name}}: args[:{{name}}],
          {%- endfor %}
        )

        @args = args
      end

      def method_missing(symbol)
        @args[symbol]
      end
    end
    {%- endfor %}
  end
end