# typed: false
require "baml"
require "sorbet-runtime"

require_relative "type-registry"
require_relative "partial-types"
require_relative "types"

module Baml
  class HttpRequest
    extend T::Sig

    sig {params(runtime: Baml::Ffi::BamlRuntime, ctx_manager: Baml::Ffi::RuntimeContextManager).void}
    def initialize(runtime:, ctx_manager:)
      @runtime = runtime
      @ctx_manager = ctx_manager
    end

    {% for fn in funcs -%}
    sig {
      params(
        varargs: T.untyped,
        {% for (name, type) in fn.args -%}
        {{name}}: {{type}},
        {%- endfor %}
        baml_options: T::Hash[Symbol, T.any(Baml::TypeBuilder, Baml::ClientRegistry, T::Hash[Symbol, String])]
      ).returns(Baml::Ffi::HTTPRequest)
    }
    def {{fn.name}}(
        *varargs,
        {% for (name, _) in fn.args -%}
        {{name}}:,
        {%- endfor %}
        baml_options: {}
    )
      if varargs.any?
        raise ArgumentError.new("{{fn.name}} may only be called with keyword arguments")
      end
      if (baml_options.keys - [:client_registry, :tb, :env]).any?
        raise ArgumentError.new("Received unknown keys in baml_options (valid keys: :client_registry, :tb, :env): #{baml_options.keys - [:client_registry, :tb, :env]}")
      end

      @runtime.build_request(
        "{{fn.name}}",
        {
          {% for (name, _) in fn.args -%}
          {{name}}: {{name}},
          {%- endfor %}
        },
        @ctx_manager,
        baml_options[:tb]&.instance_variable_get(:@registry),
        baml_options[:client_registry],
        baml_options[:env] || ENV.to_h,
        false,
      )
    end

    {% endfor %}
  end

  class HttpStreamRequest
    extend T::Sig

    sig {params(runtime: Baml::Ffi::BamlRuntime, ctx_manager: Baml::Ffi::RuntimeContextManager).void}
    def initialize(runtime:, ctx_manager:)
      @runtime = runtime
      @ctx_manager = ctx_manager
    end

    {% for fn in funcs -%}
    sig {
      params(
        varargs: T.untyped,
        {% for (name, type) in fn.args -%}
        {{name}}: {{type}},
        {%- endfor %}
        baml_options: T::Hash[Symbol, T.any(Baml::TypeBuilder, Baml::ClientRegistry, T::Hash[Symbol, String])]
      ).returns(Baml::Ffi::HTTPRequest)
    }
    def {{fn.name}}(
        *varargs,
        {% for (name, _) in fn.args -%}
        {{name}}:,
        {%- endfor %}
        baml_options: {}
    )
      if varargs.any?
        raise ArgumentError.new("{{fn.name}} may only be called with keyword arguments")
      end
      if (baml_options.keys - [:client_registry, :tb, :env]).any?
        raise ArgumentError.new("Received unknown keys in baml_options (valid keys: :client_registry, :tb, :env): #{baml_options.keys - [:client_registry, :tb, :env]}")
      end

      @runtime.build_request(
        "{{fn.name}}",
        {
          {% for (name, _) in fn.args -%}
          {{name}}: {{name}},
          {%- endfor %}
        },
        @ctx_manager,
        baml_options[:tb]&.instance_variable_get(:@registry),
        baml_options[:client_registry],
        baml_options[:env] || ENV.to_h,
        true,
      )
    end

    {% endfor %}
  end
end
