# typed: false
require "sorbet-runtime"
require "sorbet-struct-comparable"

module Baml
  {# Baml::Types is reserved for generated types. #}
  module Types
    {#- https://sorbet.org/docs/tenum #}
    {%- for enum in enums %}
    class {{ enum.name }} < T::Enum
      {%- if enum.values.len() > 0 %}
      enums do
        {%- for value in enum.values %}
        {{ value }} = new("{{ value }}")
        {%- endfor %}
      end
      {%- endif %}
    end
    {%- endfor %}

    {#- Forward declarations for types #}
    {%- for cls in classes %}
    class {{cls.name}} < T::Struct; end
    {%- endfor %}

    {#- https://sorbet.org/docs/tstruct #}
    {%- for cls in classes %}
    class {{cls.name}} < T::Struct
      include T::Struct::ActsAsComparable

      {%- for (name, type) in cls.fields %}
      const :{{name}}, {{type}}
      {%- endfor %}

      def initialize(args)
        super(
          {%- for (name, _) in cls.fields %}
          {{name}}: args[:{{name}}],
          {%- endfor %}
        )

        @args = args
      end

      def method_missing(symbol)
        @args[symbol]
      end
    end
    {%- endfor %}
  end
end