name: Canary Version Bumper

on:
  schedule:
    - cron: '0 0 * * *'  # every day

  workflow_dispatch:
    inputs:
      TYPE:
        description: 'Bump Type (prerelease, patch, minor, major)'
        required: true
        default: 'prerelease'
      CLI:
        description: 'Bump Rust CLI (AUTO,0,1)'
        required: true
        default: 'AUTO'
      CLIENT_PYTHON:
        description: 'Bump Python Client (AUTO,0,1)'
        required: true
        default: 'AUTO'
      VSCODE_EXT:
        description: 'Bump VSCode Extension (AUTO,0,1)'
        required: true
        default: 'AUTO'

jobs:
  bump_version:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: canary

    - name: Get last nightly commit hash on main
      id: last_commit
      run: |
        COMMIT_HASH=$(git log --oneline main | grep -E "\[NIGHTLY\]" | head -n 1 | awk '{print $1}')
        if [ -z "$COMMIT_HASH" ]; then
          COMMIT_HASH=$(git rev-list --max-parents=0 HEAD)
        fi
        echo hash=${COMMIT_HASH} >> $GITHUB_OUTPUT

    - name: Check for changes in specified folders since last autorelease
      id: diff_check
      run: |
        vscode_ext_changed=1
        if [ "${{ github.event.inputs.VSCODE_EXT }}" == "AUTO" ]; then
          git diff --quiet ${{ steps.last_commit.outputs.hash }} HEAD -- ./vscode-ext || vscode_ext_changed=0
        else
          vscode_ext_changed=${{ github.event.inputs.VSCODE_EXT }}
        fi
        echo vscode_ext_changed=${vscode_ext_changed} >> $GITHUB_OUTPUT
        
        cli_changed=1
        if [ "${{ github.event.inputs.CLI }}" == "AUTO" ]; then
          git diff --quiet ${{ steps.last_commit.outputs.hash }} HEAD -- ./cli || cli_changed=0
        else
          cli_changed=${{ github.event.inputs.CLI }}
        fi
        echo cli_changed=${cli_changed} >> $GITHUB_OUTPUT

        client_python_changed=1
        if [ "${{ github.event.inputs.CLIENT_PYTHON }}" == "AUTO" ]; then
          git diff --quiet ${{ steps.last_commit.outputs.hash }} HEAD -- ./client/python || client_python_changed=0
        else
          client_python_changed=${{ github.event.inputs.CLIENT_PYTHON }}
        fi
        echo client_python_changed=${client_python_changed} >> $GITHUB_OUTPUT

        docs_changed=1
        git diff --quiet ${{ steps.last_commit.outputs.hash }} HEAD -- ./docs || docs_changed=0
        echo docs_changed=${docs_changed} >> $GITHUB_OUTPUT

        changed=0
        if [ $vscode_ext_changed -eq 1 ] || [ $cli_changed -eq 1 ] || [ $client_python_changed -eq 1 ]; then
          changed=1
        fi
        echo bumping_version=${changed} >> $GITHUB_OUTPUT

    - name: Set up python
      if: steps.diff_check.outputs.bumping_version == '1'
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install bumpversion
      if: steps.diff_check.outputs.bumping_version == '1'
      run: |
        python -m pip install --upgrade pip
        pip install bumpversion

    - name: Bump version - vscode-ext
      if: steps.diff_check.outputs.vscode_ext_changed == '1'
      run: |
        bumpversion --allow-dirty ${{ github.event.inputs.TYPE }}
      working-directory: ./vscode-ext

    - name: Bump version - cli
      if: steps.diff_check.outputs.cli_changed == '1'
      run: |
        bumpversion --allow-dirty ${{ github.event.inputs.TYPE }}
      working-directory: ./cli

    - name: Bump version - client-python
      if: steps.diff_check.outputs.client_python_changed == '1'
      run: |
        bumpversion --allow-dirty ${{ github.event.inputs.TYPE }}
      working-directory: ./clients/python
    
    - name: Create new commit
      if: steps.diff_check.outputs.bumping_version == '1'
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        COMMIT_MSG=""
        if [ "${{ steps.diff_check.outputs.cli_changed }}" == "1" ]; then
          COMMIT_MSG+="[NIGHTLY:cli] "
        fi
        if [ "${{ steps.diff_check.outputs.vscode_ext_changed }}" == "1" ]; then
          COMMIT_MSG+="[NIGHTLY:vscode_ext] "
        fi
        if [ "${{ steps.diff_check.outputs.client_python_changed }}" == "1" ]; then
          COMMIT_MSG+="[NIGHTLY:client-python] "
        fi
        echo git commit -am "${COMMIT_MSG}[AUTO] Version bump for nightly release"
    
    # - name: Push changes
    #   run: |
    #       git push
